[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
django-heroku = "*"
waitress = "*"
js2py = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
